<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
    <msapplication>
        <tile>
            <square70x70logo src="{{ "fav/ms-icon-70x70.png"|static }}"/>
            <square150x150logo src="{{ "fav/ms-icon-150x150.png"|static }}"/>
            <square310x310logo src="{{ "fav/ms-icon-70x70.png"|static }}"/>
            <TileColor>#222222</TileColor>
        </tile>
    </msapplication>
</browserconfig>
