{% from 'base/macros.jinja2' import external_link, is_active_page, nav_item, defer_css with context %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "base/meta.jinja2" %}
    <link href="https://bootswatch.com/5/darkly/bootstrap.min.css"
          crossorigin="anonymous" rel="stylesheet">
    {{ defer_css("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css") }}
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script crossorigin="anonymous" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block resources %} {% endblock %}
</head>
<body class="vh-100 d-flex flex-column" id="top" onload="{% block onLoad %}{% endblock %}">
<header>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark sticky-top mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ 'home'|route }}" aria-label="Home">
                <img width="29" height="29" src="{{ "images/icon.webp"|static }}" alt="New Horizons Logo"
                     class="d-inline-block align-text-top me-2"/>
                New Horizons</a>
            <button class="navbar-toggler align-text-middle" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarMain" aria-controls="navbarMain"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% for nav_page in pages %}
                        {{ nav_item(nav_page.title, nav_page.title|route) }}
                    {% endfor %}
                    <li class="nav-item dropdown">
                        <a class="nav-link {% if page in schemas %}active{% endif %} dropdown-toggle" {% if page in schemas %}aria-current="page"{% endif %} href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Schemas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for schema in schemas %}
                                <li><a class="dropdown-item"
                                       href="{{ schema.title|route }}">{{ schema.title|title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <hr class="d-xl-none"/>
                <ul class="navbar-nav mb-2 ms-md-auto mb-lg-0">
                    <li class="nav-item me-2">
                        {{ external_link("<i class=\"bi-github\"></i><small class=\"d-xl-none ms-2\">GitHub</small>", "https://github.com/xen-42/outer-wilds-new-horizons", "nav-link p-2 fs-5") }}
                    </li>
                    <li class="nav-item me-2">
                        {{ external_link("<i class=\"bi-discord\"></i><small class=\"d-xl-none ms-2\">Discord</small>", "https://discord.gg/9vE5aHxcF9", "nav-link p-2 fs-5") }}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% if render_toc %}
    <nav id="subnav" class="d-lg-none">
        <button class="btn" type="button" data-bs-target="#outline-nav" aria-controls="outline-nav" aria-expanded="true" aria-label="Expand Outline"><i class="bi bi-chevron-expand"></i></button>    
    </nav>
{% endif %}
<div class="container-lg flex-grow-1">
    {% if render_toc %}
        <aside>
            <nav id="outline-nav" class="collapse show">
                <ul class="list-unstyled">
                    <li><a href="#">Test Link 1</a></li>
                    <li><a href="#">Test Link 2</a></li>
                </ul>
            </nav>
        </aside>
    {% endif %}
    <main>
        <div>
            {% block content %} {% endblock %}
        </div>
    </main>
</div>
<footer class="container-fluid w-100 mt-5 pt-4 pb-3 bg-dark">
    <div class="row gy-3 text-center">
        <div class="col-md">
            <p class="p-0 m-0">Last Generated: {{ ''|gen_time }}</p>
        </div>
        <div class="col-md">
            <a class="link-light" href="#top">Back To Top</a>
        </div>
        <div class="col-md">
            {{ external_link('Report An Issue', "https://github.com/xen-42/outer-wilds-new-horizons/issues/new/choose", 'link-light') }}
        </div>
    </div>
</footer>
</body>
</html>
