{% extends "base/base.jinja2" %}

{% from "base/macros.jinja2" import defer_css %}

{% block resources %}
    {{ defer_css("https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/github-dark-dimmed.min.css") }}
    <script onload="hljs.highlightAll();" defer src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
    <style>code{background-color: #1a1a1a !important;}</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            {{ rendered|safe }}
        </div>
    </div>
{% endblock %}
