<footer>
    <span>© The New Horizons Team 2023 |</span>
    <span>Built With {Astro.generator}</span>
</footer>

<style>
    footer {
        text-align: center;
        margin-top: auto;
        padding: 2rem;
        border-top: 3px solid var(--theme-divider);
    }
</style>
