---
import { SchemaTools } from '../../schema_utils';
import Breadcrumb from './Breadcrumb.astro';

interface Props {
    fileName: string;
}

const { fileName } = Astro.props;

const schema = SchemaTools.readSchema(fileName);

const defs = SchemaTools.getDefs(schema);

---

<Breadcrumb schema={schema} onlyDefs />

<ul>
    {defs.map((def) => <li><a href={`/schemas/${schema.slug}/defs/${def.slug.toLowerCase()}`}>{def.slug}</a></li>)}
</ul>
