{% extends "base.jinja2" %}
{% from 'content.html' import content with context %}

{% block resources %}
    <script src="/schemas/schema_doc.min.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>{{ title|title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ content(schema) }}
        </div>
    </div>
{% endblock %}
