pre > code {
    background-color: #1a1a1a !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bs-dark);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--bs-secondary);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
