.jsfh-animated-property {
    animation: eclair;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: .75s;
}

@keyframes eclair {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
}

.bg-warning {
    color: #131313;
}
