{% extends "base/base.jinja2" %}
{% from 'base/schema/json/content.jinja2' import content with context %}

{% block resources %}
    {% include "base/schema/schema_includes.jinja2" %}
{% endblock %}

{% block onLoad %}anchorOnLoad();{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>{{ title|title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ content(schema) }}
        </div>
    </div>
{% endblock %}
