{#~ Title:FAQ ~#}
{#~ Sort-Priority:95 ~#}


{% macro faq(id, q, a) %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button id="{{ id }}-heading" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}" aria-expanded="false" aria-controls="{{ id }}">
                Q: {{ q }}
            </button>
        </h2>
        <div id="{{ id }}" class="accordion-collapse collapse" aria-labelledby="{{ id }}-heading" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
                {{ ("A: " + a)|simple_md|replace('<p>', '<p class="my-0 ms-2">')|safe }}
            </div>
        </div>
    </div>
{% endmacro %}

<h1 class="text-center pb-2">FAQ</h1>

<div class="accordion" id="accordionFAQ">
	{{ 
		faq(
			"is-easy",
			"How easy is it to make a planet mod?", 
			"Easy, you don't even need to know how to code! Just start off slowly and make a single planet with a few surface details. Don't try to make a full DLC-scale story mod on your first try."
		) 
	}}
	{{ 
		faq(
			"model-whole-planet",
			"Can I model my entire planet in Blender and put it into the game?", 
			"Yes! Follow the instructions on the Detailing page. All you have to do is add that model as a single detail prop at the center of the planet."
		) 
	}}
	{{ 
		faq(
			"why-no-planet",
			"Why doesn't my planet show up in game?", 
			"Have you checked the logs for errors? Are you using a program like [VSCode](https://code.visualstudio.com/){ target='_blank' } to write your configs that validates them against our schema to catch your errors? Do you incrementally test each new planet that you add, or did you write 10 json files and then try them all at once? If you're still not sure, come by our [Discord channel](https://discord.gg/9vE5aHxcF9){ target='_blank' } (`#nh-addon-discussion`) and we'll try to help out!"
		) 
	}}
	{{ 
		faq(
			"ui-program",
			"Will you make a UI program to generate json files in the future?", 
			"Maybe! Will have to wait until New Horizons gets to version 1.0.0."
		) 
	}}
	{{ 
		faq(
			"when-version-1",
			"When will New Horizons get to version 1.0.0.", 
			"Soon/eventually/never/yesterday."
		) 
	}}
	{{ 
		faq(
			"feature-request",
			"When will (*insert feature request here*) be implemented into New Horizons?", 
			"If it's on the road-map, eventually. If it's not on the road-map let us know and we'll see if it's something we can consider adding."
		) 
	}}
	{{ 
		faq(
			"i-dont-use-reload-configs",
			"It takes so long to test my mod because I keep having to restart my game whenever I change something in a config.", 
			"That's not a question. But go into your mod settings in game and enable Debug mode on New Horizons. Now there will be a “Reload Configs” button in your options screen that will reload all your planets without restarting your game!"
		) 
	}}
	{{ 
		faq(
			"rails",
			"Will you ditch the physics simulation and instead track planet positions on their orbits as a function of time, effectively putting the planets on rails and thereby making the game more efficient and accurate at the expense of the game's original vision as being an actual simulation of orbital mechanics?", 
			"**No.**"
		) 
	}}
	{{ 
		faq(
			"jammer", 
			"Will Jammer Be Added?", 
			"Yes! Check  **your front door**"
		) 
	}}
</div>

