name: Build Docs

on:
  push:
    branches: [ master ]
    paths:
      - docs/**
      - NewHorizons/*schema*.json
      - NewHorizons/*.xsd

  pull_request:
    paths:
      - dev/**
      - NewHorizons/*schema*.json
      - NewHorizons/*.xsd

  workflow_dispatch:
    inputs:
      relative_path:
        description: "Path to set for relative files, set to a blank string for local builds"
        required: false
        default: "/"

env:
  OUT_DIR:  ${{ github.events.inputs.relative_path }}
  BASE_URL: https://nh.outerwildsmods.com/

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - run: cp -r docs/** .
      
      - if: github.ref == 'refs/heads/master'
        run: |
          echo "OUT_DIR=/" >> $GITHUB_ENV

      - name: Install dependecies
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: install
          
      - name: Copy Schemas
        run: |
          mkdir content/schemas/
          cp NewHorizons/schema.json content/schemas/
          cp NewHorizons/star_system_schema.json content/schemas/
          cp NewHorizons/translation_schema.json content/schemas/
          cp NewHorizons/shiplog_schema.xsd content/schemas/
          cp NewHorizons/dialogue_schema.xsd content/schemas/
          
      - name: Create Output Dir
        run: |
          mkdir out/
          mkdir out/schemas/
          
      - name: Build Site
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: run python generate.py
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Built-Docs
          path: out/
          
      - name: Deploy To Pages
        if: success() && github.ref == 'refs/heads/master'
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          branch: gh-pages 
          folder: out/
          
